[Unit]
Description=Windows 11 VM (dockur/windows)
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/dockurr/windows
ContainerName=windows
AutoUpdate=registry

Environment=VERSION=11l
Environment=RAM_SIZE=16G
Environment=CPU_CORES=6
Environment=DISK_SIZE=80GB

AddDevice=/dev/kvm
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN

PublishPort=8006:8006
PublishPort=3389:3389/tcp
PublishPort=3389:3389/udp

Volume=/var/home/<YOUR_USER>/vms/windows/storage:/storage:Z
Volume=/var/home/<YOUR_USER>/vms/windows/shared:/shared:Z

[Service]
TimeoutStartSec=900

